body {
    font-family: 'Courier New', Courier, monospace;
}

th {
    background: #A0A0A0;
    border: 1px solid #B0B0B0;
    padding: 5px;
}

td {
    background: #C0C0C0;
    border: 1px solid #B0B0B0;
    padding: 5px;
}

table {
    border-spacing: 2px;
    width: 100%;
    border: 2px solid #B0B0B0;
}